$horizontal-inset: 2%;
$navbar-offset: 50%;

.navbar {
    margin-left: $horizontal-inset;
    margin-right: $horizontal-inset;
}

.navbar .navbar-item:first-child {
    padding-left: 0;
}

.navbar .navbar-item:last-child {
    padding-right: 0;
}

.navbar.is-transparent,
.navbar.is-transparent .navbar-menu {
    background: none;
}

.navbar.is-absolute {
    position: absolute;
    left: 0;
    right: 0;
}

.navbar.is-absolute .navbar-end {
    position: absolute;
    bottom: 0;
    left: $navbar-offset;
    right: 0;
    justify-content: space-between;
}

.navbar.is-absolute .navbar-end :first-child {
    margin-left: 0;
    padding-left: 0;
}

.navbar.is-flex .navbar-brand {
    flex: 1;
}

.hero.is-fullheight-with-navbar-twice {
    min-height: calc(100vh - 7.6rem);
    padding-top: 4rem;
    padding-left: $horizontal-inset;
    padding-right: $horizontal-inset;
}

.hero.is-navbar-aligned {
    padding-left: $navbar-offset;
}

.hero.is-navbar-aligned .hero-body {
    padding-left: 0;
    margin-left: 0;
}

.hero-body.movies {
    padding-left: 0;
}

a.navbar-item {
    display: flex;
}

a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
    background: none;
}

.navbar-menu.is-block {
    background-color: #7d7d7d !important;
    border-bottom: 1px solid #dbdbdb;
}

.navbar-menu.is-block.has-background-black {
    background-color: black !important;
}

.has-navbar-height {
    min-height: 3.25rem;
}

.has-background-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.background-image-black-white-two-surfers {
    background-image: url('../img/black-white-two-surfers.jpg');
}

.background-image-black-white-surfer {
    background-image: url('../img/black-white-surfer.jpg');
}

.title:not(:first-child) {
    margin-top: 1.5rem;
}

.about-portrait {
    float: right;
    margin: 1em;
}

dl.timeline {
	display: grid;
    grid-template: auto / 7em 1fr;
}

dl.timeline dt {
    font-weight: bold;
    grid-column: 1;
    text-align: right;
    padding-right: 1em;
}

dl.timeline dd {
    grid-column: 2;
}

a.download {
    text-decoration: underline;
    font-weight: bold;
}

dl.meta {
	display: grid;
    grid-template: auto / 3em 1fr;
}

dl.meta dt {
    grid-column: 1;
    text-align: right;
    padding-right: 1em;
}

dl.meta dd {
    grid-column: 2;
    color: #989898;
}

.hero-body.movies > .title {
    color: white;
    text-transform: uppercase;
    line-height: 0.8;
    clear: both;
    margin-top: 0;
}

.hero-body.movies > .subtitle {
    color: white;
    clear: both;
}

.hero-body.movies > .subtitle small {
    padding-left: 1.5em;
    font-size: 0.7em;
}

.hero-body.movies .card {
    float: left;
    max-width: 40%;
    margin-right: 10em;
    margin-bottom: 5em;
    box-shadow: none;
    min-width: 430px;
}

.hero-body.movies .card .title {
    color: #989898;
}

.hero-body.movies .card .title small {
    font-weight: normal;
    font-size: 0.5em;
}

.hero-body.movies:after {
    clear: both;
}

.image iframe.is-16by9 {
    width: 560px;
    height: 315px;
}

@media screen and (max-width: 1024px) {
    .hero-body.movies .card {
        margin-right: 2em;
        margin-bottom: 3em;
        max-width: inherit;
    }

    .image iframe.is-16by9 {
        width: 448px;
        height: 252px;
    }
}

@media screen and (max-width: 768px) {
    .image iframe.is-16by9 {
        width: 560px;
        height: 315px;
    }
}

@media screen and (max-width: 667px) {
    .hero-body.movies .card {
        display: block;
        float: none;
        margin-right: 0;
        margin-bottom: 3em;
        max-width: inherit;
    }
}

@media screen and (max-width: 375px) {
    .image iframe.is-16by9 {
        width: 320px;
        height: 180px;
    }
}