@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
}

$horizontal-inset: 5%;
$navbar-offset: 45%;

i.space{
    font-style: normal;
    margin-left: 0.4em;
    margin-right: 0.4em;
}

.navbar {
    margin-left: $horizontal-inset;
    margin-right: $horizontal-inset;
}

.navbar.has-background-black {
    height: 118px;
    position: relative;
}

.navbar .navbar-brand .navbar-item {
    padding-bottom: 0;
}

.navbar.is-transparent .navbar-brand .navbar-item {
    padding-top: 0;
    padding-bottom: 1em;
}

.navbar .navbar-item:first-child {
    padding-left: 0;
}

.navbar .navbar-item:last-child {
    padding-right: 0;
}

.navbar.has-background-black .navbar-brand a {
    position: absolute;
    bottom: 2px;
}

.navbar.has-background-black h1.title {
    font-weight: bold;
    font-size: 34pt;
}

.navbar.is-transparent h2.subtitle {
    font-weight: 300;
    font-size: 21pt;
}

.navbar.is-transparent,
.navbar.is-transparent .navbar-menu {
    background: none;
}

.navbar.is-absolute {
    position: absolute;
    left: 0;
    right: 0;
}

.navbar.is-absolute .navbar-end {
    position: absolute;
    top: 0;
    bottom: 0;
    left: $navbar-offset;
    right: 0;
    justify-content: space-between;
}

.navbar.is-absolute .navbar-end .navbar-item {
    padding-top: 0;
}

.navbar.is-absolute .navbar-end :first-child {
    margin-left: 0;
    padding-left: 0;
}

.navbar.is-flex .navbar-brand {
    flex: 1;
}

.hero.is-fullheight-with-navbar-twice {
    min-height: calc(100vh - 236px);
    padding-top: 4rem;
    padding-left: $horizontal-inset;
    padding-right: $horizontal-inset;
}

.hero.is-navbar-aligned {
    padding-left: $navbar-offset;
}

.hero.is-navbar-aligned .hero-body {
    padding-left: 0;
    margin-left: 0;
    padding-right: 0;
    margin-right: 0;
}

.hero-body.movies {
    padding-left: 0;
}

a.navbar-item {
    display: flex;
    font-size: 21pt;
    font-weight: 300;
    padding-bottom: 1em;
}

a.navbar-item:hover,
a.navbar-item.is-active {
    font-weight: normal;
}

a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
    background: none;
}

.navbar-menu.is-block {
    background-color: #7d7d7d !important;
    border-bottom: 1px solid #dbdbdb;
}

.navbar-menu.is-block.has-background-black {
    background-color: black !important;
}

.has-navbar-height {
    min-height: 3.25rem;
}

.has-background-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.background-image-black-white-two-surfers {
    background-image: url('../img/black-white-two-surfers.jpg');
}

.background-image-black-white-surfer {
    background-image: url('../img/black-white-surfer.jpg');
}

.background-image-black-white-surfer-blurred {
    background-image: url('../img/black-white-surfer-blurred.jpg');
}

.title:not(:first-child) {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.title.is-about {
    font-size: 20px;
    font-weight: bold;
}

.about-portrait {
    float: right;
    margin: 1em;
}

dl.timeline {
	display: grid;
    grid-template: auto / 7em 1fr;
    margin-bottom: 2.5em;
}

dl.timeline dt {
    font-weight: bold;
    grid-column: 1;
    text-align: right;
    padding-right: 1em;
}

dl.timeline dd {
    grid-column: 2;
}

a.bold {
    text-decoration: underline;
    font-weight: bold;
}

dl.meta dt {
    float: left;
    margin-right: 0.5em;
}

dl.meta dd {
    color: #989898;
}

ul.is-flex.is-flex-direction-row.is-justify-content-space-between li {
    flex: 1;
    text-align: center;
}

ul.is-flex.is-flex-direction-row.is-justify-content-space-between li:first-child {
    text-align: left;
    padding-left: 0;
    margin-left: 0;
}

ul.is-flex.is-flex-direction-row.is-justify-content-space-between li:last-child {
    text-align: right;
    padding-right: 0;
    margin-right: 0;
}

.hero-body.movies > .title {
    color: white;
    text-transform: uppercase;
    line-height: 0.8;
    clear: both;
    margin-top: 0;
}

.hero-body.movies > .subtitle {
    color: white;
    clear: both;
}

.hero-body.movies > .subtitle small {
    padding-left: 1.5em;
    font-size: 0.7em;
}

.hero-body.movies .card {
    float: left;
    max-width: 40%;
    margin-right: 10em;
    margin-bottom: 5em;
    box-shadow: none;
    min-width: 430px;
}

.hero-body.movies .card:nth-child(2n) {
    margin-right: 0;
}

.hero-body.movies .card .title {
    color: #989898;
}

.hero-body.movies .card .title small {
    font-weight: normal;
    font-size: 0.5em;
}

.hero-body.movies .card .media-content h4 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
}

.hero-body.movies .card .media-content h4 small {
    font-size: 11px;
    text-transform: none;
}

.hero-body.movies .card .media-content h5 {
    margin-top: 0;
    font-size: 20px;
    font-weight: lighter;
    white-space: nowrap;
}

.hero-body.movies .card .card-content {
    padding-left: 0;
}

.hero-body.movies:after {
    clear: both;
}

.image iframe.is-16by9 {
    width: 560px;
    height: 315px;
}

@media screen and (max-width: 1080px) {
    .navbar.is-absolute .navbar-end {
        position: inherit;
    }

    .navbar.is-absolute .navbar-end :first-child {
        padding-left: 0.5em;
    }

    .hero-body.movies .card {
        margin-right: 2em;
        margin-bottom: 3em;
        max-width: inherit;
    }

    .hero-body.movies .card:nth-child(2n) {
        margin-right: 0;
    }

    .image iframe.is-16by9 {
        width: 448px;
        height: 252px;
    }

    .hero-body.movies .card .media-content h4 {
        font-size: 22px;
    }
    
    .hero-body.movies .card .media-content h4 small {
        font-size: 8px;
    }
    
    .hero-body.movies .card .media-content h5 {
        font-size: 12px;
    }

    .hero.is-navbar-aligned {
        padding-left: $horizontal-inset;
        padding-right: $horizontal-inset;
    }
}

@media screen and (max-width: 667px) {
    ul.is-flex.is-flex-direction-row.is-justify-content-space-between {
        flex-direction: column !important;
        align-items: flex-start;
    }

    ul.is-flex.is-flex-direction-row.is-justify-content-space-between li {
        margin-bottom: 1em;
    }

    .hero-body.movies .card {
        display: block;
        float: none;
        margin-right: 0;
        margin-bottom: 3em;
        max-width: inherit;
    }
}

@media screen and (max-width: 390px) {
    .hero-body.movies .card .media-content h4 {
        font-size: 18px;
    }
    
    .hero-body.movies .card .media-content h4 small {
        font-size: 6px;
    }
    
    .hero-body.movies .card .media-content h5 {
        font-size: 12px;
    }

    .image iframe.is-16by9 {
        width: 320px;
        height: 180px;
    }
}