.navbar.is-transparent,
.navbar.is-transparent .navbar-menu {
    background: none;
}

.navbar.is-absolute {
    position: absolute;
    width: 100%;
}

.navbar.is-flex .navbar-brand {
    flex: 1;
}

.hero.is-fullheight-with-navbar-twice {
    min-height: calc(100vh - 7.6rem);
}

a.navbar-item {
    display: flex;
}

a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
    background: none;
}

.has-navbar-height {
    min-height: 3.25rem;
}



.background-image-black-white-beach {
    background-image: url('../img/black-white-beach.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}